__pycache__/
*.pyc
M4-RobotControl/LabControl4.2/build
M4-RobotControl/LabControl4.2/install
M4-RobotControl/LabControl4.2/log
M1-Kinematics/Lab2/build
M1-Kinematics/Lab2/install
M1-Kinematics/Lab2/log